{% load thumbnail %}

<ul class="comment-list">
  {% with comments=pub.comments.all %}
    {% for comment in comments %}
      <li>
        <!-- {% thumbnail comment.user.profile.avatar "50x50" crop="top" as im %}
          <img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        {{ comment.user.username }} - {{ comment.body }} -->
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="{{ comment.user.profile.avatar.url }}">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ comment.user.username }}</strong> <!-- <small>@johnsmith</small> <small>31m</small> -->
                <br>
                {{ comment.body }}
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-reply"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
              </div>
            </nav>
          </div>
          {% if pub.user == request.user %}
            <div class="media-right">
              <form action="{% url 'publications:delete_comment' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                <button class="delete" type="submit"></button>
              </form>
            </div>
          {% endif %}
        </article>
      </li>
    {% empty %}
      <li>
        <p class="no-comments">No comments yet.</p>
      </li>
    {% endfor %}
  {% endwith %}
</ul>