{% extends 'page_layout.html' %}

{% block title %}| Explore{% endblock %}

{% load thumbnail %}

{% load account_tags %}

{% block content %}
	<div class="users-grid">
		{% for account in users %}
			{% with latest_pub=account.publications_created.latest %}
				{% if user == account %}
				
				{% else %}
					<div class="publication">
					  <a class="profile-button-image">
					    {% thumbnail latest_pub.image "450x450" crop="top" as im %}
					      <img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}">
					    {% endthumbnail %}
					  </a>
					  <div class="modal">
					    <div class="modal-background"></div>
					    <div class="modal-content">
					      <div class="image">
					        <img src="{{ latest_pub.image.url }}" alt="" class="modal-image">
					      </div>
					      {% with total_likes=latest_pub.users_like.count users_like=latest_pub.users_like.all %}
					        <ul>
					          <li>
					            <a href="#" data-id="{{ latest_pub.id }}" data-action="{% if user in users_like %}un{% endif %}like" class="like-button">
					              <span class="icon is-small {% if user in users_like %}has-text-primary{% endif %}">
					                <i class="fas fa-heart"></i>
					              </span>
					            </a>
					            <span class="total-likes-number">
					              {{ total_likes }} 
					            </span> 
					          </li>
					          <li>
					            <a href="" class="btn-comment-jump">
					              <span class="icon is-small">
					                <i class="fas fa-comment"></i>
					              </span>
					            </a>
					          </li>
					        </ul>
					        <span class="is-size-7">
					          {% with pub_id=latest_pub.id %}
					            {% if users_like %}
					              Likes to
					              {% for user in users_like %}
					                {% if forloop.first %}
					                  {{ user }}
					                {% elif forloop.last %}
					                  {% with pub_id=latest_pub.id %}
					                    and {% pubs_minus_one pub_id %} more.
					                  {% endwith %}
					                {% else %}
					                
					                {% endif %}
					              {% endfor %}
					            {% else %}
					              No likes.
					            {% endif %}
					          {% endwith %}
					        </span>
					      {% endwith %}
					      <hr>
					      <p class="description">
					        <a href="{{ account.get_absolute_url }}" class="button-user-link">
					        	<strong>{{ account.username }}</strong>
					        </a>
					        {{ latest_pub.description }}
					      </p>
					      <ul class="comment-list">
					        {% with comments=latest_pub.comments.all %}
					          {% for comment in comments %}
					            <li>
					              <article class="media">
					                <figure class="media-left">
					                  <p class="image is-64x64">
					                    <img src="{{ comment.user.profile.avatar.url }}">
					                  </p>
					                </figure>
					                <div class="media-content">
					                  <div class="content">
					                    <p>
					                      <strong>{{ comment.user.username }}</strong>
					                      <br>
					                      {{ comment.body }}
					                    </p>
					                  </div>
					                  <nav class="level is-mobile">
					                    <div class="level-left">
					                      <a class="level-item">
					                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
					                      </a>
					                      <a class="level-item">
					                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
					                      </a>
					                      <a class="level-item">
					                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
					                      </a>
					                    </div>
					                  </nav>
					                </div>
					                {% if comment.user == request.user %}
					                  <div class="media-right">
					                    <form action="{% url 'publications:delete_comment' %}" method="post">
					                      {% csrf_token %}
					                      <input type="hidden" name="comment_id" value="{{ comment.id }}">
					                      <button class="delete" type="submit"></button>
					                    </form>
					                  </div>
					                {% endif %}
					              </article>
					            </li>
					          {% empty %}
					            <li>
					              <p class="no-comments">No comments yet.</p>
					            </li>
					          {% endfor %}
					        {% endwith %}
					      </ul>
					      <form action="{% url 'publications:comment_publication' %}" method="post" class="comment-form">
					        {% csrf_token %}

					        <input type="hidden" name="pub_id" value="{{ latest_pub.id }}">

					        <div class="field">
					          <textarea name="body" id="id_comment" placeholder="Comment..." class="textarea" rows="2" required></textarea>
					        </div>

					        <div class="field">
					          <button class="button is-primary is-fullwidth" type="submit">
					            Comment
					          </button>
					        </div>
					      </form>
					    </div>
					    <button class="modal-close is-large" aria-label="close"></button>
					  </div>
					</div>
				{% endif %}
			{% endwith %}
		{% endfor %}
	</div>
{% endblock %}

				

