{% extends 'page_layout.html' %}

{% block title %} | Profile {% endblock %}

{% load static %}

{% load account_tags %}

{% load thumbnail %}

{% block content %}
  <div class="columns profile-information">
    <div class="column is-4 profile-img-container">
      <figure class="image is-128x128">
        {% if user.profile.avatar %}
          {% thumbnail user.profile.avatar "128x128" crop="center" as im %}
            <img src="{{ im.url }}" alt="{{ user.first_name }}" class="is-rounded" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
        {% else %}
          <img src="{% static 'account/img/man-2.png' %}" alt="" class="is-rounded">
        {% endif %}
      </figure>
    </div>
    <div class="column is-8 profile-information-container">
      <div class="columns">
        <div class="column">
          <div class="title">
            {{ user.username }}
            <a href="{% url 'account:edit' %}" class="button is-small button-settings">
              <span class="icon is-small">
                <i class="fas fa-cog"></i>
              </span>
              <span>Settings</span>
            </a>
            <a href="{% url 'account:logout' %}" class="button is-small is-primary">
              <span class="icon is-small">
                <!-- <i class="fas fa-minus-circle"></i> -->
                <i class="fas fa-compass"></i>
              </span>
              <span>Logout</span>
            </a>
          </div>
        </div>
      </div>
      <div class="columns profile-data">
        <div class="column is-8-mobile is-9-tablet is-8-desktop">
          <div class="level is-mobile">
            <div class="level-item has-text-centered">
              {% with total_followers=user.followers.count %}
                <strong>follower{{ total_followers|pluralize }}:</strong> <span class="total-followers-number">{{ total_followers }}</span>
              {% endwith %}
            </div>
            <div class="level-item has-text-centered">
              {% with total_following=user.following.count %}
                <strong>following:</strong> <span class="total-following-number">{{ total_following }}</span>
              {% endwith %}
            </div>
            <div class="level-item has-text-centered">
              {% with pubs_total=user.publications_created.count %}
                <strong>publication{{ pubs_total|pluralize }}:</strong> 
                {{ pubs_total }}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column biography">
          <p>
            {% if user.profile.biography %}
              {{ user.profile.biography }}
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="tabs is-centered">
        <ul>
          <li class="is-active">
            <a href="#">
              <span class="icon is-small"><i class="fas fa-images" aria-hidden="true"></i></span>
              <span>Publications</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon is-small"><i class="fas fa-stream" aria-hidden="true"></i></span>
              <span>IGTV</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon is-small"><i class="fas fa-clone" aria-hidden="true"></i></span>
              <span>Saved</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon is-small"><i class="fas fa-tags" aria-hidden="true"></i></span>
              <span>Tags</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      {% with pubs=user.publications_created.all %}
        {% if pubs %}
          <div class="publications-grid">
            {% for pub in pubs %}
              <div class="publication">
                <a class="profile-button-image">
                  {% thumbnail pub.image "450x450" crop="top" as im %}
                    <img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                </a>
                <div class="modal">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <div class="image">
                      <img src="{{ pub.image.url }}" alt="" class="modal-image">
                    </div>
                    {% with total_likes=pub.users_like.count users_like=pub.users_like.all %}
                      <ul>
                        <li>
                          <a href="#" data-id="{{ pub.id }}" data-action="{% if user in users_like %}un{% endif %}like" class="like-button">
                            <span class="icon is-small {% if user in users_like %}has-text-primary{% endif %}">
                              <i class="fas fa-heart"></i>
                            </span>
                          </a>
                          <span class="total-likes-number">
                            {{ total_likes }} 
                          </span> 
                        </li>
                        <li>
                          <a href="" class="btn-comment-jump">
                            <span class="icon is-small">
                              <i class="fas fa-comment"></i>
                            </span>
                          </a>
                        </li>
                      </ul>
                      <span class="is-size-7">
                        {% with pub_id=pub.id %}
                          {% if users_like %}
                            Likes to
                            {% for user in users_like %}
                              {% if forloop.first %}
                                {{ user }}
                              {% elif forloop.last %}
                                {% with pub_id=pub.id %}
                                  and {% pubs_minus_one pub_id %} more.
                                {% endwith %}
                              {% else %}
                              
                              {% endif %}
                            {% endfor %}
                          {% else %}
                            No likes.
                          {% endif %}
                        {% endwith %}
                      </span>
                    {% endwith %}
                    <hr>
                    <p class="description">
                      <strong>{{ user.username }}</strong> 
                      {{ pub.description }}
                    </p>
                    {% include 'includes/comment_list.html' %}
                    <form action="{% url 'publications:comment_publication' %}" method="post" class="comment-form">
                      {% csrf_token %}

                      <input type="hidden" name="pub_id" value="{{ pub.id }}">

                      <div class="field">
                        <textarea name="body" id="id_comment" placeholder="Comment..." class="textarea" rows="2" required></textarea>
                      </div>

                      <div class="field">
                        <button class="button is-primary is-fullwidth" type="submit">
                          Comment
                        </button>
                      </div>
                    </form>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          You don't have any publications yet :(
        {% endif %}
      {% endwith %}


      <!-- <div class="publications-grid">
        {% include 'includes/list_ajax.html' %}
      </div> -->
    </div>
  </div>
{% endblock %}
<!--         <div class="publication">
          <a class="profile-button-image">
            <img src="{% static 'account/img/6.jpg' %}" alt="">
          </a>
          <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <div class="image">
                <img src="{% static 'account/img/6.jpg' %}" alt="" class="modal-image">
              </div>
              <ul>
                <li>
                  <span class="icon is-small">
                    <i class="fas fa-heart"></i>
                  </span>
                </li>
                <li>
                  <span class="icon is-small">
                    <i class="fas fa-comment"></i>
                  </span>
                </li>
              </ul>
              <hr>
              <p class="description">
                <strong>{{ user.username }}</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sapiente architecto pariatur corporis id qui ducimus itaque alias, repudiandae amet voluptas rem placeat facere illo, hic vero, aliquam maiores veniam.
              </p>
              <form action="" method="post">
                <div class="field">
                  <textarea name="comment" id="id_comment" placeholder="Comment..." class="textarea" rows="2"></textarea>
                </div>
              </form>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>
        </div> -->
