{% extends 'base.html' %}

{% block title %} | Publications List {% endblock %}

{% block content %}
  <h1>Publications</h1>
  <hr>
  <div class="publications_list">
    {% include 'publications/publication/list_ajax.html' %}
  </div>
{% endblock %}