{% load publications_tags %}

{% load thumbnail %}

{% for pub in publications %}
  <div class="publication">
    <a class="profile-button-image">
      {% thumbnail pub.image "600x600" crop="top" as im %}
        <img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
    </a>
    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="image">
          <img src="{{ pub.image.url }}" alt="" class="modal-image">
        </div>
        {% with total_likes=pub.users_like.count users_like=pub.users_like.all %}
        <ul>
          <li>
            <a href="#" data-id="{{ pub.id }}" data-action="{% if user in users_like %}un{% endif %}like"
              class="like-button">
              <span class="icon is-small {% if user in users_like %}has-text-primary{% endif %}">
                <i class="fas fa-heart"></i>
              </span>
            </a>
            <span class="total-likes-number">
              {{ total_likes }}
            </span> <!-- like{{ total_likes|pluralize }} -->
          </li>
          <li>
            <a href="" class="btn-comment-jump">
              <span class="icon is-small">
                <i class="fas fa-comment"></i>
              </span>
            </a>
          </li>
        </ul>
        <span class="is-size-7">
          {% with pub_id=pub.id %}
          {% if users_like %}
          Likes to
          {% for user in users_like %}
          {% if forloop.first %}
          {{ user }}
          {% elif forloop.last %}
          {% with pub_id=pub.id %}
          and {% pubs_minus_one pub_id %} more.
          {% endwith %}
          {% else %}
  
          {% endif %}

          {% endfor %}
          {% else %}
          No likes.
          {% endif %}
          {% endwith %}
        </span>
        {% endwith %}
        <hr>
        <p class="description">
          <strong>{{ user.username }}</strong> {{ pub.description }}
        </p>
        <form action="" method="post" class="comment-form">
          <div class="field">
            <textarea name="comment" id="id_comment" placeholder="Comment..." class="textarea" rows="2"></textarea>
          </div>
        </form>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
  </div>
{% endfor %}